body {
  font-family: Poppins-Medium;
  margin: 0;
  padding: 0;
}
.section-header {
  font-family: "Poppins-Bold";
  margin-top: 0;
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}

.section-header--white {
  color: white;
}
