.features-section {
  background-color: #eff1f7;
  padding-bottom: 100px;
  .section-header {
    padding-top: 50px;
    margin-bottom: 10px;
  }
  .section-sub-header {
    width: 460px;
    text-align: center;
    margin: 0 auto;
    color: #a09d9d;
    padding-bottom: 50px;
    @include breakpoint(phablet) {
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .card-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      max-width: 900px;
      background-color: hsl(180, 66%, 49%);
      width: 80%;
      top: 120px;
      height: 10px;
      @include breakpoint(phablet) {
        transform: rotate(270deg);
        top: 50%;
        width: 800px;
      }
    }
    @include breakpoint(phablet) {
      flex-direction: column;
      align-items: center;
    }
    .card {
      max-width: 270px;
      background-color: #fff;
      margin-right: 20px;
      border-radius: 5px;
      padding: 10px;
      position: relative;
      padding-top: 50px;
      padding-left: 30px;
      margin-bottom: 50px;
      z-index: 10;
      @include breakpoint(phablet) {
        margin-right: 0;
      }
      &:nth-child(2) {
        top: 30px;
      }
      &:nth-child(3) {
        top: 60px;
      }
      &__icon-wrapper {
        width: 50px;
        background-color: #3b3054;
        height: 50px;
        border-radius: 50%;
        padding: 12px;
        display: flex;
        position: absolute;
        top: -40px;
      }
      &__title {
        font-family: "Poppins-Bold";
      }
      &__icon {
        width: 35px;
        height: auto;
        display: block;
        margin: auto;
      }
      &__description {
        font-size: 0.9em;
        color: #a09d9d;
        padding-bottom: 20px;
      }
    }
  }
}
