@import "./mixins";
@font-face {
  font-family: "Poppins-";
  src: url("../assets/fonts/Poppins-ExtraBold.ttf") format("ttf");
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  padding-left: 235px;

  @include breakpoint(laptop) {
    padding-left: 13%;
    margin-top: 50px;
  }
  @include breakpoint(tablet) {
    flex-direction: column-reverse;
    padding-left: 20px;
    margin-left: 0;
  }
  @include breakpoint(phablet) {
    overflow-x: hidden;
    padding-right: 20px;
  }
  .intro-header-wrapper {
    width: 500px;
    @include breakpoint(tablet) {
      text-align: center;
    }
    @include breakpoint(phablet) {
      width: auto;
    }
  }
  &__heading {
    font-family: "Poppins-Bold";
    font-size: 4em;
    line-height: 1.2;
    margin-bottom: 0;
    @include breakpoint(laptop) {
      font-size: 3em;
    }
    @include breakpoint(phablet) {
      font-size: 2.4em;
    }
  }
  &__sub-heading {
    margin-top: 0;
    color: #a09d9d; // reusable gray color? - it should be a modifier
    letter-spacing: 1px;
  }
  &__button {
    background-color: hsl(180, 66%, 49%);
    border-radius: 30px 30px 30px 30px;
    border: none;
    padding: 12px;
    color: white;
    font-family: "Poppins-Medium";
    letter-spacing: 1px;
    width: 160px;
    font-size: 1em;
    margin-top: 20px;
    &--hover-opacity:hover {
      background-color: #9fe8e8;
      cursor: pointer;
    }
  }
  .intro-image-wrapper {
    @include breakpoint(tablet) {
      display: flex;
      justify-content: center;
    }
    img {
      @include breakpoint(laptop) {
        width: 70%;
      }
      @include breakpoint(phablet) {
        width: 420px;
        margin-left: 50px;
      }
    }
  }
}
