.shortener-component {
  //   max-width: 950px;
  background-color: #eff1f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__form {
    background-image: url("../assets/imgs/bg-shorten-desktop.svg");
    background-repeat: no-repeat;
    height: 130px;
    background-color: hsl(257, 27%, 26%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    position: absolute;
    transform: translateY(-50%);
    position: relative;
    @include breakpoint(tablet) {
      width: 80%;
    }
    @include breakpoint(phablet) {
      width: 60%;
      display: flex;
      flex-direction: column;
      height: unset;
      padding: 20px;
    }
  }
  &__input {
    padding: 13px;
    width: 700px;
    border-radius: 5px;
    margin-right: 20px;
    border: none;
    font-family: "Poppins-Medium";
    font-size: 1em;
    //wyeliminowac powtorzenia kodu
    @include breakpoint(laptop) {
      width: 65%;
    }
    @include breakpoint(phablet) {
      width: 60%;
      margin-right: 0;
      margin-bottom: 40px;
      width: 90%;
    }
  }

  &__input--validation-failed {
    border: 3px solid rgb(187, 96, 96);
    &::placeholder {
      color: rgb(187, 96, 96);
      opacity: 0.5;
    }
  }
  &__button {
    //reuzywalne style !
    padding: 13px;
    width: 120px;
    border-radius: 5px;
    border: none;
    background-color: hsl(180, 66%, 49%);
    color: white;
    font-family: "Poppins-Medium";
    font-size: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    .spinner {
      display: none;
    }
    .visible {
      display: block;
    }

    &:hover {
      background-color: #9fe8e8;
    }
    @include breakpoint(phablet) {
      width: 100%;
    }
  }
  &__validation-message {
    position: absolute;
    bottom: 0;
    left: 65px;
    font-size: 0.8em;
    color: rgb(187, 96, 96);
    @include breakpoint(phablet) {
      bottom: 75px;
      left: 20px;
    }
  }
  &__validation-message--hidden {
    display: none;
  }
  // &__validation-message--hidden {
  //   display: block;
  // }
  &__link-list {
    width: 1000px;
    padding-left: 0;
    @include breakpoint(laptop) {
      width: 80%;
    }
    @include breakpoint(laptop) {
      // padding: 0;
    }
  }
  &__list-item {
    list-style-type: none;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(phablet) {
      flex-direction: column;
      padding: 0;
      overflow-x: hidden;
    }
    div:nth-child(1) {
      @include breakpoint(phablet) {
        width: 100%;
        border-bottom: 1px solid rgb(231, 224, 224);
      }
      p {
        margin: 0; // TODO - nie stylujemy to tagach
        margin-left: 15px;
        @include breakpoint(phablet) {
          margin-left: 5%;
        }
      }
    }
    div:nth-child(2) {
      padding-left: 25px;
      @include breakpoint(phablet) {
        margin-left: 5%;
      }
      a {
        @include breakpoint(phablet) {
          padding-bottom: 10px;
        }
      }
      button {
        @include breakpoint(phablet) {
          margin-bottom: 10px;
          width: 90%;
          padding: 10px;
        }
      }
    }

    div {
      @include breakpoint(phablet) {
        display: flex;
        flex-direction: column;
        padding: 10px 0 10px 0;
        width: 100%;
      }
    }
  }
  &__short-link {
    text-decoration: none;
    color: hsl(180, 66%, 49%);
    margin-right: 10px;
  }
  &__copy-button {
    padding: 7px;
    width: 70px;
    border-radius: 5px;
    border: none;
    background-color: hsl(180, 66%, 49%);
    color: white;
    cursor: pointer;
    &:hover {
      background-color: #9fe8e8;
    }
  }
  .active {
    background-color: #3b3054;
  }
}
